<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author List</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-body-secondary">

<div class="card w-75 mb-3">
    <div class="card-body">
        <h3 class="card-title">Author List</h3>

        <table class="table table-hover table-responsive-md">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Books</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="author : ${authors}" class="table-info">
                <td th:text="${author.id}"></td>
                <td th:text="${author.name}"></td>
                <td>
                    <ul class="list-group list-group-flush">
                        <li th:each="book : ${author.books}" th:text="${book.title}" class="list-group-item"></li>
                    </ul>
                </td>
                <td>
                    <a th:href="@{'/authors/update/'+${author.id}}">
                        <button type="button" class="btn btn-primary">Update</button>
                    </a>
                    <a th:href="@{'/authors/delete/'+${author.id}}">
                        <button type="button" class="btn btn-primary">Delete</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<a href="/authors/create">
    <button type="button" class="btn btn-primary">Create new author</button>
</a>
<a href="/books">
    <button type="button" class="btn btn-primary">Books</button>
</a>

</body>
</html>