<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-body-secondary">


<div class="card w-75 mb-3">
    <div class="card-body">
        <h3 class="card-title">Book List</h3>

        <table class="table table-hover table-responsive-md">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}" class="table-info">
                <td th:text="${book.id}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author.name}"></td>
                <td>
                    <a th:href="@{/books/update/{id}(id=${book.id})}">
                        <button type="button" class="btn btn-primary">Update</button>
                    </a>
                    <a th:href="@{/books/delete/{id}(id=${book.id})}">
                        <button type="button" class="btn btn-primary">Delete</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<a href="/books/create">
    <button type="button" class="btn btn-primary">Create new book</button>
</a>
<a href="/authors">
    <button type="button" class="btn btn-primary">Authors</button>
</a>

</body>
</html>